# Ignore everything by default
*

# Allow root-level files
!README.md
!requirements.txt

# Allow specific files in src/
!src/
src/*
!src/main.ipynb
!src/AnalyzeTrackingData_withDirection_master.m

# Allow everything under src/my_package/
!src/my_package/
!src/my_package/**

# Ignore Python cache and compiled files within src/my_package/ and its subdirectories (like smlfm)
src/my_package/**/__pycache__/
src/my_package/**/*.pyc
src/my_package/**/*.pyo
src/my_package/**/*.pyd

# Allow specific files in configs/
!configs/
configs/*
!configs/default_configs/
!configs/default_configs/**
!configs/fitting2D_config.json
!configs/fitting3D_config.json

# Allow everything under tests/
!tests/
!tests/**

# Allow gitignore
!.gitignore
